<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <a href="http://inteligencija.com/o-nama/projekti/">PROJECTS</a>
              </p>
            </li>
            <li>
              <p>
                <a href="http://inteligencija.com/o-nama/">ABOUT US</a>
              </p>
            </li>
            <li>
              <p>
                <a href="http://inteligencija.com/category/blog/">BLOG</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">AWARDS</a>
              </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <mdb-icon fas icon="home" class="mr-3"></mdb-icon>Krste Pavletića 1,
                10000 Zagreb 
              </p>
            </li>
            <li>
              <p>
                <mdb-icon fas icon="phone" class="mr-3"></mdb-icon>T. + 385 1 4617 945
              </p>
            </li>
            <li>
              <p>
                <mdb-icon fas icon="print" class="mr-3"></mdb-icon>F. + 385 1 4617 946
              </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
  
          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
  
          <!-- Facebook -->
          <a mdbBtn floating="true" type="button" color="btn-fb" mdbWavesEffect>
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a type="button" mdbBtn floating="true" color="btn-tw" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
          <!-- Google +-->
          <a type="button" mdbBtn floating="true" color="btn-gplus" mdbWavesEffect>
            <mdb-icon fab fab icon="google-plus"></mdb-icon>
          </a>
          <!-- Dribbble -->
          <a type="button" mdbBtn floating="true" color="btn-dribbble" mdbWavesEffect>
            <mdb-icon fab icon="dribbble"></mdb-icon>
          </a>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="http://inteligencija.com/"> Poslovna inteligencija</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->