
<div class="tab">
    <span>
    <button id="defaultbutton" class="tablinks" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="openTab('Batch')" >Batch</button>
    
    <button class="tablinks" mdbBtn color="danger" rounded="true" size="sm" class="my-0"  (click)="openTab('Task')">Task</button>
    </span>
  </div>

<div id="Batch" class="tabcontent" style="display:block">
    <p>Batch Dependecies</p>
    <p>Graph1</p>
</div>

<div id="Task" class="tabcontent">
    <p>Task Dependecies</p>
    <p>Graph2</p>
</div>

