 
<div class="tab">
    <span>
    <button id="defaultbutton" class="tablinks" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="openTab('Batch');loadBatches()" >Batch</button>
    <button class="tablinks" mdbBtn color="danger" rounded="true" size="sm" class="my-0"  (click)="openTab('Task')">Task</button>
    </span>
  </div>

<div id="Batch" class="tabcontent" >
    <p style="text-align:center">Labels are displaying batch sids</p>
    <div id="cont2" style="text-align:center"></div>
    
    
   
    
</div>


<div id="Task" class="tabcontent" >
    <p style="text-align:center">Task graph placeholder: this graph is only a placeholder.</p>
    <div class="select" style="text-align:center" >
    <p-dropdown [options]="batchOptions" [virtualScroll]="true" [(ngModel)]="selectedBatch" [filter]="true"
                filterMatchMode="startsWith" scrollHeight="400px" [style]="{'width':'30%'}" placeholder="Select batch" (onChange)="drawTaskGraph()">
              </p-dropdown>
            </div>
    
    <div id="cont1" style="text-align:center"></div>
    
</div>




