<p-toast></p-toast>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<div class="card">
    <p-table styleClass="p-datatable-responsive-demo" [scrollable]="false" [value]="batches" [autoLayout]="true"
        dataKey="batch_sid" editMode="row" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5,10,15]">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
               <h3 style="text-align: center;"><b>BATCH TABLE</b></h3> 
               <div style="text-align:right">
                    <button type="button" pButton class="p-button-danger" icon="fa fa-plus" (click)="add()" label="Add"></button>
                </div>
            </div>

        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Edit</th>
                <th>Delete</th>
                <th>batch_sid</th>
                <th>datasource_name</th>
                <th>batch_id</th>
                <th>batch_name</th>
                <th>batch_desc</th>
                <th>batch_type</th>
                <th>batch_status</th>
                <th>server_name</th>
                <th>source_database_name</th>
                <th>destination_database_name</th>
                <th>ssis_package_name</th>
                <th>job_name</th>
                <th>job_step_name</th>
                <th>job_scheduled</th>
                <th>dashboard_type</th>
                <th>use_mail_status</th>
                <th>insert_date</th>
                <th>insert_user</th>
                <th>update_date</th>
                <th>update_user</th>
                <th style="width:8rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-batch let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="batch">
                <td style="text-align:center">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                        (click)="onRowEditInit(batch)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                        (click)="onRowEditSave(batch, ri)"
                        class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                        (click)="onRowEditCancel(batch, ri)"
                        class="p-button-rounded p-button-text p-button-danger"></button>
                </td>
                <td> <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="deleteBatch(batch)"></button></td>
                <td>
                    {{batch.batch_sid}}
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="options" [(ngModel)]="batch.datasource_sid"
                                [style]="{'width':'100%'}"></p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.datasource_sid}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.batch_id" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.batch_id}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.batch_name">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.batch_name}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.batch_desc">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.batch_desc}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.batch_type">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.batch_type}}
                        </ng-template>
                    </p-cellEditor>

                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.batch_status">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.batch_status}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.server_name">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.server_name}}
                        </ng-template>
                    </p-cellEditor>

                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.source_database_name">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.batch_name}}
                        </ng-template>
                    </p-cellEditor>

                </td>

                <td>

                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.destination_database_name">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.destination_database_name}}
                        </ng-template>
                    </p-cellEditor>

                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.ssis_package_name">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.ssis_package_name}}
                        </ng-template>
                    </p-cellEditor>

                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.job_name">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.job_name}}
                        </ng-template>
                    </p-cellEditor>

                </td>

                <td>

                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.job_step_name">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.job_step_name}}
                        </ng-template>
                    </p-cellEditor>
                </td>


                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.job_scheduled">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.job_scheduled}}
                        </ng-template>
                    </p-cellEditor>

                </td>
                <td>

                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.dashboard_type">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.dashboard_type}}
                        </ng-template>
                    </p-cellEditor>

                </td>

                <td>

                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.use_mail_status">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.use_mail_status}}
                        </ng-template>
                    </p-cellEditor>

                </td>

                <td>

                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.insert_date">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.insert_date}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>

                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.insert_user">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.insert_user}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>

                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.update_date">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.update_date}}
                        </ng-template>
                    </p-cellEditor>

                </td>

                <td>

                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="batch.update_user">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{batch.update_user}}
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{batches ? batches.length : 0 }} batches.
            </div>
        </ng-template>
    </p-table>
</div>